.ue-vertical-layout {
    display: grid;
    grid-column: 1fr;
}

.ue-vertical-layout > div {
    position: relative;
}

.ue-vertical-layout > :nth-child(1)::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    top: calc(100% - 4px);
    height: 4px;
    background-color: #151515;
    cursor: s-resize;
}
