# Compiled source
*.o
*.so
*.exe
*.dll
*.d
*.out

# C/C++ file at the project root
/*.c
/*.cpp
/*.h
/*.hpp

# Packaged assets
*.pak
*.uasset

# ImGui files
imgui.ini
imgui_log.txt

# Logs and databases
*.log
*.sqlite
*.sqlite3
*.db

# Temporary files
*.tmp
*.temp
*.swp
*.swo
*.dat
*.bak

# Compilation directories
Build/
Binaries/
Bin/
Libraries/
Libs/

# Criterion Unit Tests
*.gcno
*.gcda
*.gcov

# Valgrind Reports
vgcore.*

# Environment files
.env
.env.*
!.env.example

# IDE files
compile_commands.json

# CMake files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CMakeUserPresets.json
